doctype html
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css')
    link(rel='stylesheet', href='http://openlayers.org/en/v4.1.1/css/ol.css')
    link(href='/stylesheets/index.css', rel='stylesheet') 
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js')    
    script(src='http://openlayers.org/en/v4.1.1/build/ol.js') 
    script(src='https://api.tiles.mapbox.com/mapbox.js/plugins/turf/v2.0.0/turf.min.js')
    script(src='/javascripts/index.js')   
    body
block content
